.caret-down {
    display: inline-block;
    width: 9px;
    height: 7px;
    border-style: solid;
    border-width: 7px 4.5px 0 4.5px;
    border-color: $yellow transparent transparent transparent;
}