.best {
    background: url('../images/bg.png') no-repeat center center;
    background-size: cover;
    justify-content: center;
}

.best__title {
    text-align: center;
}

.best__list {
    display: flex;
    text-align: center;
    margin-top: rem(55px);
}

.best__list-item {
    width: rem(286px);

    &+.best__list-item {
        margin-left: rem(37px);
    }
}

@import '../blocks/reason.scss';