.greeting {
    background: url('../images/video-bg.png') center center no-repeat;
    background-size: cover;
}

.greeting__content {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: LifeHack;
    font-size: 65px;
}

.greeting__text {
    margin-left: 45px;
}

.greeting__title {
    color: #f9b43b;
}

.greeting__sub-title {
    width: 406px;
    letter-spacing: -1.6px;
    margin-top: 20px;
}

.greeting__images {
    position: relative;
}

.greeting__images .greeting__drops {
    position: absolute;
    top: 40px;
    left: -30px;
}