.order {
    background: url('../images/chalkboard_texture.png') center center / cover no-repeat;
    justify-content: center;
}

.order__title {
    text-align: center;
    color: $yellow;
    margin-bottom: rem(25px);
}

.order__form {
    display: flex;
    justify-content: center;
    align-items: center;
    label {
        @include ubuntu(light);
        font-size: rem(14px);
    }

    @include tablets {
        flex-direction: column;
    }
}

.order__col {
    width: 50%;

    @include tablets {
        width: 75%;

    }
}

.order__row {
    display: flex;
    justify-content: space-between;
}