.reviews {
    flex-direction: row;
    flex-wrap: wrap;
}

.reviews__reviewer {
    width: 25%;
    height: 50%;
    position: relative;
    font-size: 14px;
    background: center center / cover no-repeat;
}

.reviews__review {
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
    padding: 50px 33px 0 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear all;
}

.reviews__reviewer:hover .reviews__review {
    opacity: 1;
    visibility: visible;
}

.reviews__review-author {
    @include gagalin;
}

.reviews__review-text {
    @include ubuntu(light);
    line-height: 1.71;
    margin: 30px 0 17px 0;
}

