.header {
    display: flex;
    align-items: center;
    padding-top: rem(12px);
}

.header__btns {
    display: flex;
    align-items: center;
    margin-left: auto;
    @include ubuntu(medium);
    font-size: rem(13px);
    .btn-order {
        margin-left: rem(15px);
    }
}

@import './nav.scss';