.header {
    height: 93px;
    width: 100%;
    position: absolute;
    .container {
        display: flex;
        margin-top: 12px;
        justify-content: space-around;
        align-items: center;
    }
}