.nav__list {
    display: flex;
}

.nav__list-item {
    &:last-child {
        .nav__link::after {
            display: none;
        }
    }
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-family: Ubuntu;
    font-weight: 500;
    display: flex;
    align-items: center;
  
    &::after {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #fff;   
      margin: 0 16px;
    }
  }