.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 0.3s all;
    z-index: -1;
}

.popup--show {
    opacity: 1;
    z-index: 100;
}

.popup__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.popup__background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($dark-grey, 0.92);
}

.popup__content {
    max-width: 80%;
    z-index: 101;
    margin: auto;
    padding: 2%;
    background-color: #ffffff;
    border-radius: rem(6px);
    box-shadow: 0 0 40px rgba(0, 0, 1, 0.5);
    text-align: center;
}

.popup__text {
    margin-bottom: rem(17px);
}

