.reason__img-wrap {
    height: rem(90px);
    display: flex;
    margin-bottom: rem(33px);
}

.reason__img {
    margin: auto;
}

.reason__title {
    @include lifehack;
    font-size: rem(24px);
    color: #2f3234;
    margin-bottom: rem(20px);
}

.reason__description {
    @include ubuntu(light);
    font-size: rem(14px);
    line-height: 1.71;
    color: rgba(47, 50, 52, 0.8);
}