.reason__img-wrap {
    height: 90px;
    display: flex;
    margin-bottom: 33px;
}

.reason__img {
    margin: auto;
}

.reason__title {
    font-family: Lifehack;
    font-size: 24px;
    color: #2f3234;
    margin-bottom: 20px;
}

.reason__description {
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(47, 50, 52, 0.8);
}